# Dependencies & Builds
node_modules/
dist/
build/
/build/

# Local Environment & Secrets
.env
.env.local
.env.production
.env.development
.env.*
!.env.example

# Local MongoDB Storage & Cache
data/
backend/data/
data/db/
*.lock
*.ldb

# Local Uploads
backend/public/uploads/*
!backend/public/uploads/.gitkeep

# IDE & Logs
.vscode/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
*.sublime-workspace
*.sublime-project
.npm
.vite

